.minesweeper-cell {
  height: 16px;
  width: 16px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid white;
}

.minesweeper-board {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
}

.minesweeper-controls {
  padding-left: 10px;
  display: grid;
  align-items: start;
  justify-items: start;
  align-content: start;
  grid-gap: 10px;
}

.minesweeper {
  display: flex;
}
