.todo-list {
  width: 300px;
}

.todo-list .header {
  padding: 10px 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  font-size: 14px;
  background-color: rgba(0, 0, 0, 0.3);
}

.todo-list .header input {
  margin-right: 10px;
}

.todo-list .header .show-done {
  cursor: pointer;
  display: flex;
  align-items: center;
  color: white;
}

.todo-list .actions {
  display: flex;
  justify-content: space-between;
  margin: 15px 5px;
}
