.todo-item {
  cursor: pointer;
  padding: 10px 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  font-family: sans-serif;
}

.done {
  color: rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.05);
}
