#layout {
  height: 100%;
  display: grid;
  grid-template-areas:
    "toolbar toolbar"
    "sidenav content"
  ;
  grid-template-columns: max-content 1fr;
  grid-template-rows: max-content 1fr;
}

#toolbar {
  grid-area: toolbar;
  color: white;
  background-color: #2196f3;
  font-size: 24px;
  font-family: sans-serif;
  display: grid;
  grid-template-columns: max-content max-content 1fr;
  align-content: center;
  padding: 10px 20px;
  box-shadow: 0px 1px 7px 2px #00000088;
  user-select: none;
  z-index: 2;
}

#menu-button {
  align-self: center;
  margin-right: 20px;
  cursor: pointer;
}

#branding {
  margin-right: 20px;
  cursor: pointer;
}

#title {
  font-size: 18px;
  align-self: center;
}

.sidenav {
  grid-area: sidenav;
  z-index: 1;
  width: 0;
  overflow: hidden;
  transition: width 75ms ease-in;
}

.sidenav.open {
  width: 200px;
  transition: width 75ms ease-out;
  border-right: 1px solid rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0 3px 2px #00000025;
}

.sidenav-overlay {
  display: none;
}

@media only screen and (max-width: 800px) {
  .sidenav {
    grid-area: content;
    width: 200px;
    border-right: 1px solid rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0 3px 2px #00000025;
  }

  .sidenav.open {
    width: 0;
    border-right: none;
    box-shadow: none;
  }

  .sidenav-overlay {
    grid-area: content;
    display: unset;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.3;
  }

  .sidenav-overlay.open {
    display: none;
  }
}

#content {
  grid-area: content;
  padding: 15px 10%;
  overflow-y: auto;
}

.navigation-arrows {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
}

.navigation-arrows .arrow-container {
  max-width: 49%;
}

#footer {
  text-align: center;
  margin-top: 30px;
  font-size: 12px;
  color: grey;
}
