#layout {
  height: 100%;
  display: grid;
  grid-template-areas:
    "toolbar toolbar"
    "sidenav content"
  ;
  grid-template-columns: max-content 1fr;
  grid-template-rows: max-content 1fr;
}

#toolbar {
  grid-area: toolbar;
  color: white;
  background-color: #2196f3;
  font-size: 24px;
  font-family: sans-serif;
  display: grid;
  grid-template-columns: max-content max-content 1fr;
  align-content: center;
  padding: 10px 20px;
  box-shadow: 0px 1px 7px 2px #00000088;
}

#branding {
  margin-right: 20px;
}

#title {
  font-size: 18px;
  align-self: center;
}

.sidenav {
  grid-area: sidenav;
}

#content {
  grid-area: content;
  margin: 15px;
  margin-left: 8%;
  margin-right: 8%;
}

.navigation-arrows {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
}
