.example-class {
  color: green;
  text-decoration: underline;
}

.another-class {
  color: purple;
  word-spacing: 2px;
}

.card {
  box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.5);
  padding: 12px;
  border-radius: 5px;
}

.option-button {
  margin: 0 10px 10px 0;
}

.option-button.active {
  box-shadow: 1px 1px 2px 0px black;
}
